:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #faa777;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

p {
  margin: 0;
}

/* Buttons */
button {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Form elements */
input,
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 0.95rem;
  box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input::placeholder {
  color: #999;
}

/* Modal */
.modal,
.modal-content {
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(80, 231, 181, 0.1);
  background: rgb(46, 45, 45);
}

.modal-overlay,
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(56, 57, 70, 0.274);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

/* Utility */
.home-link {
  justify-content: center;
}